@import "../../../../../styles/mixins";

.certificationDescriptionContainer {
  max-width: 450px;
}

.certTitleEven {
  @include header-line(-12.5px, 300px, 140px, var(--text-color-tertiary));
}

.certificationDescription {
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 10px 11px 4px rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  background-color: var(--logo-color-primary);
  padding: 25px;
  @include font-ternary;
  font-size: 1rem;
}

.certificationButton {
  display: block;
  width: 180px;
  text-align: center;
  color: var(--text-color-primary);
}

.certImg {
  max-width: 200px;
}