@import './variables';

// Breakpoints

// Desktop styles
@mixin desktop {
  @media only screen and (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Tablet styles
@mixin tablet {
  @media only screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

// Mobile styles
@mixin mobile {
  @media only screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

// Utility class generator for margin and padding
@mixin generate-spacing-classes($property, $directions, $property-name, $sizes) {
  @each $suffix, $size in $sizes {
    @each $direction, $full-direction in $directions {
      .#{$property}#{$direction}-#{$suffix} {
        #{$property-name}-#{$full-direction}: #{$size};
      }
    }
  }
}

$sizes: (
  '0': var(--sp-0),
  'xs': var(--sp-xs),
  'sm': var(--sp-sm),
  'md': var(--sp-md),
  'lg': var(--sp-lg),
  'xl': var(--sp-xl)
);

$directions: (
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right'
);

// Generate margin utility classes
@include generate-spacing-classes('m', $directions, 'margin', $sizes);

// Generate padding utility classes
@include generate-spacing-classes('p', $directions, 'padding', $sizes);

// Grid container
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--column-gutter); // Define a column gutter size variable
  row-gap: var(--row-gutter); // Define a row gutter size variable
}


// Grid container
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

// Grid columns
@mixin generate-responsive-columns($breakpoint) {
  @for $i from 1 through 12 {
    .col-#{$breakpoint}-#{$i} {
      grid-column: span $i;
    }
  }
}

// Generate responsive column classes for each breakpoint
@include desktop {
  @include generate-responsive-columns('dt');
}

@include tablet {
  @include generate-responsive-columns('tb');
}

@include mobile {
  @include generate-responsive-columns('mb');
}

// Grid gutters
$gutters: (
  '0': 0,
  'xs': 8px,
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px
);

@mixin generate-responsive-gutters($breakpoint, $gutters, $gutter-property) {
  @each $suffix, $size in $gutters {
    .g-#{$breakpoint}-#{$suffix} {
      #{$gutter-property}: #{$size};
    }
  }
}

$gutters: (
  '0': 0,
  'xs': 8px,
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px
);

// Generate responsive gutter classes for each breakpoint
@include desktop {
  @include generate-responsive-gutters('dp', $gutters, 'column-gap');
  @include generate-responsive-gutters('dp', $gutters, 'row-gap');
}

@include tablet {
  @include generate-responsive-gutters('tb', $gutters, 'column-gap');
  @include generate-responsive-gutters('tb', $gutters, 'row-gap');
}

@include mobile {
  @include generate-responsive-gutters('mb', $gutters, 'column-gap');
  @include generate-responsive-gutters('mb', $gutters, 'row-gap');
}

// Add a mixin to generate font classes
@mixin generate-font-classes($property, $values) {
  @each $suffix, $value in $values {
    .ft-#{$suffix} {
      #{$property}: #{$value};
    }
  }
}

// Define the font-weight and font color values
$font-weights: (
  'wt-norm': var(--font-weight-normal),
  'wt-semi-bolt': var(--ft-semi-bold),
  'wt-bold': var(--ft-bold),
);

$font-colors: (
  'clr-1': var(--text-color-primary),
  'clr-2': var(--text-color-secondary),
  'clr-3': var(--text-color-tertiary),
);

// Generate font-weight and font-color classes using the mixin
@include generate-font-classes('font-weight', $font-weights);
@include generate-font-classes('color', $font-colors);
