//for scss features that are not supported by css variables
$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

:root {
  // breakpoints
  --breakpoint-desktop: 992px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;

  // logo colors
  --logo-color-primary: #293462;
  --logo-color-secondary: #d61c4e;
  --logo-color-tertiary: #feb139;

  // Colors
  --background-color: #1d2438;
  --background-color-secondary: #0d1424;


  // Button colors
  --button-background-color: var(--logo-color-primary);
  --button-text-color: #ffffff; // A light color for contrast
  --button-hover-color: #445c8e; // A lighter shade of the primary color
  --button-active-color: #0d1424; // A darker shade of the primary color

  // Secondary button colors
  --button-secondary-background-color: var(--logo-color-secondary);
  --button-secondary-hover-color: #c91642; // A darker shade of the secondary color
  --button-secondary-active-color: #b11238; // An even darker shade of the secondary color

  // Font Families
  --font-family-sans-serif: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --font-family-display: 'THICCCBOI', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;

  // Font Weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  // Text colors
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #d0d0d0;
  --text-color-tertiary: #b0b0b0;


  // Spacing
  --sp-0: 0;
  --sp-xs: 0.5rem;
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;
  --sp-xl: 4rem;
}