:root {
  // logo colors
  --logo-color-primary: #293462;
  --logo-color-secondary: #d61c4e;
  --logo-color-tertiary: #feb139;
  
  // Colors
  --color-primary: #293462; // Use the logo primary color
  --color-secondary: #294f62; // Analogous color to primary
  --color-tertiary: #4685ad; // Analogous color to secondary
  --color-accent: #feb139; // Use the logo tertiary color
  }