@font-face {
  font-family: "THICCCBOI";
  src: url("../assets/fonts/thicccboi/fonts/Webfont/THICCCBOI-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("../assets/fonts/thicccboi/fonts/Webfont/THICCCBOI-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("../assets/fonts/thicccboi/fonts/Webfont/THICCCBOI-Bold.woff2") format("woff2");
  font-weight: 600;
}


body {
  font-family: "THICCCBOI", 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}