/* styles.scss */

@import "fonts/font-variables";
@import "fonts/font-styles";

/* Global Styles */
body {
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
}

/* Component-specific styles */
.my-component {
  h1 {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-bold);
    font-size: 32px;
  }

  p {
    font-weight: var(--font-weight-normal);
    font-size: 16px;
  }
}

/* Custom Styles */
.my-custom-style {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
}
