:root {
  --font-family-sans-serif: 'Roboto',  'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --font-family-display: 'THICCCBOI', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --text-color-primary: #f0f0f0;
  --text-color-secondary: #d0d0d0;
  --text-color-tertiary: #b0b0b0;
}
