:root {
  --font-family-sans-serif: 'Roboto',  'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --font-family-display: 'THICCCBOI', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
