.container {
  padding: 2rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  li {
    margin-left: 1rem;
  }
}

.logo {
  margin-right: auto;
}