@import '../../styles/mixins';
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; // Make the navbar sticky
  top: 0; // Stick the navbar to the top of the viewport
  background-color: #10141F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a subtle box shadow
  z-index: 1000; // Ensure the navbar stays above other content
  padding: 1rem 2rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);

  // Desktop styles
  @include desktop {
    padding: 1rem 2rem;
  }

  // Tablet styles
  @include tablet {
    padding: 1rem;
  }

  // Mobile styles
  @include mobile {
    padding: 0.5rem;
  }
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  li {
    margin-left: 1rem;
  }
}

.logo {
  margin-right: auto;
  position: relative;
  top: 3px;
  img {
    max-height: 50px;
  }
}