@import "../../../../styles/mixins";

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  height: calc(100vh - 4rem); // Adjust for padding and navbar height
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -50px;
}

.name {
  font-size: 3.5rem;
  @include tabletAndDown {
    margin-top: var(--sp-sm);
  }
  @include tablet {
    font-size: 3rem;
  }
  @include mobile {
    font-size: 2.5rem;
  }
}

.location {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
  font-size: 1.5rem;
}

.description {
  font-size: 1.1rem;
  max-width: 475px;

}

.titleContainer {
  display: flex;
  align-items: baseline;
}

.heroLogo {
  display: inline-block;
  width: 25px;
  height: auto;
  margin-left: 16px;
  position: relative;
  top: 4px;
}

@include tablet {
  .heroContainer {
    left: 0;
  }
}
